/* CSS Keseluruhan ----------------------- */

body {
  background-color: #161832 !important; 
  color: #fff !important;
}

/* CSS Navbar ----------------------- */

.navbar{
position: sticky!important ;
top: 0;
padding: 8px 112px !important;;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
background-color: #12132A !important;
height: 100%;
}

.navbar img {
position: absolute;
width: 70px;
height: 70px;
top: 9px;
left: 112px;
}

.navbar-brand {
  color:  #12132A;
  font-weight: 500;
  font-size: 16x;
}

.navbar .navbar-nav {
display: flex !important;
justify-content: center ; 
align-items: center;
}

.navbar .container-fluid .btn-white {
  background-color: #3FBCFC; /* Warna latar belakang tombol */
  color: #ffffff; /* Warna teks tombol */
  border: 1px solid #000; /* Warna border tombol */
  margin-top :8px;
  margin-bottom:8px;
}
.navbar .navbar-nav .nav-item {
border-radius: 99px; 
padding-left: 20px;
padding-right: 20px;
margin-left: 10px;
margin-right: 10px;
padding-top: 8px;
padding-bottom: 8px;
margin-top :5px;
margin-bottom:5px;
color: #4162FF;
font-weight: 500;
}

.navbar .navbar-nav .nav-item-active{
  background: #4161ff20; ;
  border-radius: 99px; 
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top :5px;
  margin-bottom:5px;
  color: #4162FF;
  font-weight: 700;
}


/* CSS Book ----------------------- */
.book-card {
  background-color: #13142A; 
  color: #fff; 
  margin:8px;
  border-radius: 20px;
  padding-bottom: 15px;
}

.book-card .card-body {
  padding: 20px; 
}

.book-card .card-title {
  margin-bottom: 10px; 
}

.book-card .card-text {
  margin-bottom: 10px; 
}

.book-card .btn {
  margin-bottom: 10px; 
}
.book-card-container {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  flex-wrap: nowrap; 
  justify-content: flex-start; 
  gap: 5px;
  overflow-x: auto; 
  justify-items: center; 
  align-items: center;
  justify-content: center;
  margin: 28px;
  padding-bottom: 20px;
  }

.book-img {
  height: 400px;
  border-radius: 14px;
  width: 300px;
}


/* CSS Main Page ----------------------- */
.sign-in {
  background-color: #161832;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign-in .div {
  background-color: #161832;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.sign-in .overlap {
  height: 976px;
  top: 24px;
  left: 24px;
  border-radius: 40px;
  position: absolute;
  width: 688px;
}

.sign-in .vector {
  position: absolute;
  width: 578px;
  height: 612px;
  top: 359px;
  left: 73px;
}

.sign-in .start-your-journey {
  position: absolute;
  width: 468px;
  top: 197px;
  left: 73px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .text-wrapper {
  color: #ffffff;
}

.sign-in .span {
  color: #3fbcfc;
}

.sign-in .group {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 67px;
  left: 73px;
  background-image: url(./img/mask-group.png);
  background-size: 100% 100%;
}

.sign-in .mask-group {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}

.sign-in .frame {
  position: absolute;
  width: 688px;
  height: 976px;
  top: 0;
  left: 0;
  background-color: #2a4cf1;
  border-radius: 40px;
  overflow: hidden;
}

.sign-in .overlap-group {
  height: 617px;
  top: 359px;
  left: 0;
  position: absolute;
  width: 688px;
}

.sign-in .img {
  position: absolute;
  width: 578px;
  height: 612px;
  top: 0;
  left: 73px;
}

.sign-in .element {
  position: absolute;
  width: 688px;
  height: 617px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.sign-in .p {
  position: absolute;
  width: 468px;
  top: 186px;
  left: 73px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .group-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 56px;
  left: 73px;
}

.sign-in .text-wrapper-2 {
  position: absolute;
  top: 219px;
  left: 829px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .frame-2 {
  display: flex;
  flex-direction: column;
  width: 491px;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 310px;
  left: 829px;
}

.sign-in .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.sign-in .label {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .input {
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #2b2e53;
  border-radius: 16px;
  border: 1px solid;
  border-color: #2a4cf1;
  flex: 0 0 auto;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff80;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .frame-4 {
  background-color: #2b2e53;
  border: 1px solid;
  border-color: #2a4cf1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 16px;
}

.sign-in .text-input {
  position: relative;
  flex: 0 0 auto;
  background-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff80;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: 0;
  padding: 0;
}

.sign-in .iconsax-linear {
  position: relative;
  width: 24px;
  height: 24px;
}

.sign-in .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 491px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 588px;
  left: 829px;
}

.sign-in .frame-5 {
  background-color: #2a4cf1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 16px;
}

.sign-in .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-in .already-member-sign {
  position: absolute;
  top: 686px;
  left: 961px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sign-in .text-wrapper-4 {
  color: #ffffffbf;
}

/* Community -------------------------------------------------*/
/* Community -------------------------------------------------*/
/* Community -------------------------------------------------*/
/* Community -------------------------------------------------*/
/* Community -------------------------------------------------*/
.forum .header {
display:flex;
width: 100%;
align-items: center;
height: 445px;
background-color: #2a4cf1;
align-items: center;
justify-content: center;

}

.forum .header .overlap-group {
position: relative;
height: 445px;
left: 29px;
}

.forum .header .text-wrapper {
position: absolute;
top: 48px;
left: auto;
font-weight: 900;
color: #2444e0;
font-size: 217px;
letter-spacing: 0;
line-height: 347.2px;
white-space: nowrap;
top: 50%; /* Tengah secara vertikal */
left: 50%; /* Tengah secara horizontal */
transform: translate(-50%, -50%); /

}

.forum .element {
position: absolute;
width: 967px;
height: auto;
top: 0;
left: 207px;
object-fit: cover;
left: 50%;
transform: translateX(-50%);
}

/* CSS untuk tampilan mobile (lebar layar <= 375px) */
@media (max-width: 375px) {
.forum .header .text-wrapper {
  font-size: 64px; /* Atur ukuran font untuk teks "Community" */
}

.forum .element {
  width: 495px; /* Atur lebar gambar sesuai kebutuhan */
  height: 270px; /* Atur tinggi gambar sesuai kebutuhan */
}

.forum .header {
  min-height: 270px; /* Atur tinggi header sesuai kebutuhan */
}

.forum .header .overlap-group {
  height: 270px; /* Atur tinggi frame sesuai kebutuhan */
}

.forum .header {
  background-color: #2a4cf1; /* Atur warna latar belakang */
}
}

.community {
margin-top: 0px;
margin-right: 112px;
margin-left: 112px;
display: inline-flex;
align-items: flex-start;
gap: 36px;
position: relative;
}

.community .filter {
padding-top: 110px;
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 17px;
position: relative;
flex: 0 0 auto;
overflow-x: scroll;
position: sticky;
top: 0; 
z-index: 100; 
}

.community .filter-wrapper {
display: inline-flex;
align-items: flex-start;
gap: 10px;
padding: 32px 28px;
position: relative;
flex: 0 0 auto;
background-color: #12132a;
border-radius: 30px;
overflow: hidden;
transition: all 0.2s ease;
}

.community .div {
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
position: relative;
flex: 0 0 auto;
}

.community .text-wrapper {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Poppins", Helvetica;
font-weight: 700;
color: #ffffff;
font-size: 28px;
letter-spacing: 0;
line-height: 44.8px;
white-space: nowrap;
}

.community .filter-2 {
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
position: relative;
flex: 0 0 auto;
}

.community .filter-true {
position: relative;
width: 251px;
height: 61px;
background-color: #3fbcfc1a;
border-radius: 9999px;
overflow: hidden;
}

.community .text-wrapper-2 {
position: absolute;
top: 15px;
left: 113px;
font-family: "Poppins", Helvetica;
font-weight: 700;
color: var(--variable-collection-secondary);
font-size: 20px;
text-align: center;
letter-spacing: 0;
line-height: normal;
}

.community .filter-false {
position: relative;
width: 251px;
height: 61px;
background-color: #161832;
border-radius: 9999px;
overflow: hidden;
}

.community .text-wrapper-3 {
left: 92px;
position: absolute;
top: 16px;
font-family: "Poppins", Helvetica;
font-weight: 600;
color: #ffffff;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
}

.community .text-wrapper-4 {
left: 91px;
position: absolute;
top: 16px;
font-family: "Poppins", Helvetica;
font-weight: 600;
color: #ffffff;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
}

.community .text-wrapper-5 {
left: 90px;
position: absolute;
top: 16px;
font-family: "Poppins", Helvetica;
font-weight: 600;
color: #ffffff;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
}

.community .make-a-post {
display: flex;
width: 300px;
height: 66px;
padding: 10px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 24px;
background: var(--Primary, #2A4CF1);
}

.community .edit-wrapper {
position: relative;
width: 32px;
height: 32px;
}

.community .edit {
position: relative;
width: 24px;
height: 24px;
top: 4px;
left: 4px;
background-image: url(./img/edit.svg);
background-size: 100% 100%;
}

.community .text-wrapper-6 {
position: relative;
width: fit-content;
font-family: "Poppins", Helvetica;
font-weight: 600;
color: #ffffff;
font-size: 20px;
letter-spacing: 0.25px;
line-height: normal;
white-space: nowrap;
}

.community .forum-section {
padding-top: 80px;
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
position: relative;
flex: 0 0 auto;
}

.community .forum-person {
display: flex;
flex-direction: column;
width: 880px;
align-items: flex-start;
gap: 10px;
padding: 28px 20px;
position: relative;
flex: 0 0 auto;
transition: all 0.2s ease;
}

.community .person-section {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}

.community .section {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 28px;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}

.community .profile-upper {
display: flex;
width: 840px;
align-items: center;
justify-content: space-between;
padding: 0px 28px 0px 0px;
position: relative;
flex: 0 0 auto;
}

.community .profil {
display: inline-flex;
align-items: center;
gap: 26px;
position: relative;
flex: 0 0 auto;
}

.community .detail {
font-family: "Poppins", Helvetica;
font-weight: 600;
}

.community .profil-wrapper {
position: relative;
width: 77px;
height: 77px;
background-color: #2a4cf1;
border-radius: 9999px;
overflow: hidden;
}

.community .img {
position: absolute;
width: 77px;
height: 77px;
top: 0;
left: 0;
object-fit: cover;
}

.community .text-wrapper-7 {
position: relative;
width: fit-content;
font-family: "Poppins", Helvetica;
font-weight: 700;
color: #ffffff;
font-size: 24px;
letter-spacing: 0;
line-height: 38.4px;
white-space: nowrap;
}

.community .delete {
position: relative;
width: 64px;
height: 64px;
background-color: #e221211a;
border-radius: 8853.23px;
overflow: hidden;
}

.community .iconly-bold-delete {
position: absolute;
width: 32px;
height: 32px;
top: 16px;
left: 16px;
}

.community .p {
position: relative;
align-self: stretch;
font-family: "Poppins", Helvetica;
font-weight: 500;
color: #ffffff;
font-size: 24px;
letter-spacing: 0;
line-height: 38.4px;
}

.community .book-section {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}

.community .text-wrapper-8 {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Poppins", Helvetica;
font-weight: 500;
color: #ffffff;
font-size: 24px;
letter-spacing: 0;
line-height: 38.4px;
white-space: nowrap;
}

.community .book-card {
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 0px 0px;
padding: 12px;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
background-color: #23264f;
border-radius: 20px;
overflow: hidden;
}

.community .book-card-2 {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
gap: 184px 20px;
position: relative;
flex: 1;
flex-grow: 1;
}

.community .book-status {
display: inline-flex;
align-items: center;
gap: 24px;
position: relative;
flex: 0 0 auto;
}

.community .book-image {
position: relative;
width: 128px;
height: 150px;
background-color: #13142a;
border-radius: 9.2px;
overflow: hidden;
}

.community .image {
position: absolute;
width: 128px;
height: 150px;
top: 0;
left: 0;
object-fit: cover;
}

.community .book-detail {
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 18px;
position: relative;
flex: 0 0 auto;
}

.community .book-title {
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
position: relative;
flex: 0 0 auto;
}

.community .text-wrapper-9 {
position: relative;
width: 271px;
margin-top: -1px;
font-family: "Poppins", Helvetica;
font-weight: 600;
color: #ffffff;
font-size: 24px;
letter-spacing: 0;
line-height: normal;
}

.community .book-author{
position: relative;
width: fit-content;
font-family: "Poppins", Helvetica;
font-weight: 500;
color: #ffffff;
font-size: 18px;
letter-spacing: 0;
line-height: normal;
}

.community button {
display: flex !important;
height: 64px !important;
padding: 10px 20px !important;
justify-content: flex-end !important;
align-items: center !important;
gap: 10px !important;
border-radius: 24px !important;
background: var(--Primary, #2A4CF1) !important;
color:#fff
}

.community button .iconly-bold {
position: relative;
width: 24px;
height: 24px;
}

.line {
height: 0px;
align-self: stretch;
stroke-width: 4px;
stroke: #282C5B;
}

.action {
align-items: flex-start;
gap: 86px;
padding: 0px 0px 0px 20px;
display: inline-flex;
position: relative;
flex: 0 0 auto;
}

.action .bottom-section {
display: inline-flex;
align-items: center;
gap: 16px;
position: relative;
}

.action .icon{
position: relative;
width: 40px;
height: 40px;
}

.action .text-wrapper {
position: relative;
width: fit-content;
font-family: "Poppins", Helvetica;
font-weight: 500 !important;
color: #ffffff;
font-size: 22px;
letter-spacing: 0;
line-height: 38.4px;
white-space: nowrap;
}


/* ================CSS CATEGORY=============== */
/* ================CSS CATEGORY=============== */
/* ================CSS CATEGORY=============== */
.category .action {
align-items: flex-start;
gap: 81px;
padding: 0px 0px 0px 40px;
display: inline-flex;
position: relative;
flex: 0 0 auto;
}

.category .frame {
display:flex;
width: 100%;
align-items: center;
height: 445px;
background-color: #2a4cf1;
align-items: center;
justify-content: center;
}

.category  .frame .overlap-group {
position: relative;
height: 445px;
left: 29px;
}

.category .frame .text-wrapper {
position: absolute;
top: 48px;
left: auto;
font-weight: 900;
color: #2444e0;
font-size: 350px;
letter-spacing: 0;
line-height: 347.2px;
white-space: nowrap;
top: 50%; /* Tengah secara vertikal */
left: 50%; /* Tengah secara horizontal */
transform: translate(-50%, -50%); 
}
.category .frame .div {
position: absolute;
width: 1215px;
top: 48px;
left: auto;
font-family: "Poppins", Helvetica;
font-weight: 700;
color: #ffffff;
font-size: 40px;
letter-spacing: 0;
line-height: 60px;
top: 40%; /* Tengah secara vertikal */
left: 50%; /* Tengah secara horizontal */
transform: translate(-50%, -50%); 
padding: 0 25px; /* Tambahkan padding 20px ke kiri dan kanan */
}

.category .frame .p {
position: absolute;
width: 1215px;
top: 48px;
left: auto;
font-family: "Poppins", Helvetica;
font-weight: 700;
color: #ffffff;
font-size: 30px;
letter-spacing: 0;
line-height: 40px;
top: 80%; /* Tengah secara vertikal */
left: 50%; /* Tengah secara horizontal */
transform: translate(-50%, -50%); 
padding: 0 25px; /* Tambahkan padding 20px ke kiri dan kanan */
}


.category .search .label .text-wrapper {
font-family: "Poppins", Helvetica;
font-weight: 700;
color: #ffffff;
font-size: 30px;
letter-spacing: 0;
line-height: 76.8px;
text-align: center;
white-space: nowrap;
}

.category .search .input-group {
width: 33%; /* Atur lebar sesuai kebutuhan (1/3 dari lebar layar) */
margin: 0 auto; /* Agar input-group berada di tengah-tengah layar */
}

.category .container .label .text-wrapper {
font-family: "Poppins-Bold", Helvetica;
font-weight: 700;
color: #ffffff;
font-size: 30px;
letter-spacing: 0;
line-height: 76.8px;
text-align: center;
white-space: nowrap;
}

.category .container #all-books {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 2fr)); /* Mengatur jumlah kolom dan lebar minimum */
grid-gap: 1px; /* Jarak antara card */
}

.category .container #all-books .card{
  margin: 2px;
  height: 400px; /* Atur tinggi sesuai kebutuhan */
  background-color: #23264F;
}

.category .container #all-books .card .card-img-top{
  display: flex;
  align-items: center; /* Memastikan gambar berada di tengah secara vertikal */
  justify-content: center; /* Memastikan gambar berada di tengah secara horizontal */
  max-width: 93%; /* Membuat gambar sesuai dengan lebar kartu */
  max-height: 250px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
  border-radius: 10px; /* Atur radius sesuai kebutuhan */
  margin-top: 7px;
}

.category .container #all-books .card .love{
  width: 50px;
  height: 50px;
  position: absolute; /* Mengatur posisi absolut untuk love */
  bottom: 10px; /* Atur jarak dari atas card */
  right: 15px; /* Atur jarak dari kanan card */
}

.category .container #all-books .card .love:hover{
  filter: brightness(0.7);
  cursor: pointer;

}

.category .container  #all-books .card .card-body .judul,
.category .container  #all-books .card .card-body .author {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-size: 15px;
color: #fff;
}

.category .container .scrollmenu {
background-color: #161832;
white-space: nowrap;
width: 100%; /* Setengah dari lebar container */
overflow-x: scroll; /* Mengaktifkan scroll horizontal */
display: flex; /* Menggunakan display flex untuk satu baris horizontal */
align-items: center; /* Menengahkan card jika tidak cukup lebar */
}

.category .container .scrollmenu #fantasy-books {
display: flex; /* Menggunakan display flex untuk satu baris horizontal */
white-space: nowrap; /* Menghindari pemisahan baris */
}

.category .container .scrollmenu #fantasy-books .card{
margin: 2px;
display: flex;
flex-direction: column; /* Mengubah arah flex ke kolom */
width: 250px; /* Atur lebar card sesuai kebutuhan */
height: 400px; /* Atur tinggi card sesuai kebutuhan */
background-color: #23264F;
}

.category .container .scrollmenu #fantasy-books .card .card-img-top{
  display: flex;
  align-items: center; /* Memastikan gambar berada di tengah secara vertikal */
  justify-content: center; /* Memastikan gambar berada di tengah secara horizontal */
  max-width: 93%; /* Membuat gambar sesuai dengan lebar kartu */
  max-height: 250px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
  border-radius: 10px; /* Atur radius sesuai kebutuhan */
  margin-top: 7px;
}

.category .container .scrollmenu #fantasy-books .card .card-body .judul,
.category .container .scrollmenu #fantasy-books .card .card-body .author {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  color: #fff;
}

.category .container .scrollmenu #fantasy-books .card .love{
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.category .container .scrollmenu #fantasy-books .card .love:hover{
  filter: brightness(0.7);
  cursor: pointer;

}

/* Menentukan tata letak elemen password-toggle */
.password-toggle {
  display: inline-block;
  position: relative;
  top: 2px; /* Sesuaikan dengan pergeseran vertikal sesuai keinginan Anda */
  cursor: pointer; /* Ubah kursor saat digunakan untuk mengklik */
}

/* Mengatur tampilan input password */
.password-input {
  position: relative;
}

/* Mengatur tampilan gambar mata */
.iconsax-linears {
  position: absolute;
  top: 50%;
  right: -235px; /* Sesuaikan dengan pergeseran horizontal sesuai keinginan Anda */
  transform: translateY(-290%);
}

