{% extends 'base.html' %}

{% block content %}

<style>

    body {
        font-family: "Poppins", Helvetica;
        color: #ffffff;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-product {
        max-width: 700px;
        padding: 30px;
        background-color: #12132A;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

    .add-product h1 {
        font-family: "Poppins", Helvetica;
        margin-bottom: 5px; 
        color: #3b5d81;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .add-product form {
        text-align: left;
    }

    .add-product form table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .add-product form td {
        padding: 10px;
        font-family: "Poppins", Helvetica;
        margin-bottom: 5px; 
        color: #3b5d81;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .add-product form input[type="text"],
    .add-product form input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .add-product form input[type="submit"] {
        font-family: "Poppins", Helvetica;
        margin-bottom: 5px; 
        color: #3b5d81;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 80px;
        border-radius: 5px;
        cursor: pointer;
    }

    h5 {
        font-family: "Poppins", Helvetica;
        margin-bottom: 5px; 
        color: #3b5d81;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .add-product form input[type="submit"]:hover {
        background-color: #074486;
        color: #eff3f7;
    }
    
</style>

<div class="add-product">
    <h1>Add New Product</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Add Product">
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock content %}