{% extends 'base.html' %}

{% block content %}
<title>community</title>

<!-- Navbar ------------------>
<div class="navbar navbar-expand-lg ">
  <div class="container-fluid">
      <button  class="navbar-toggler btn-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <img src="../../static/img/Logo Navbar.svg" class="navbar-brand d-none d-lg-block" href="#">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav" id="bookCategory"  style="margin-left: 23%;" >
              <li class="nav-item">
                  <a class="nav-link" style="color: #fff;" href="{% url 'main:show_main' %}">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" style="color: #fff;"  href="{% url 'category:show_category' %}" >Category</a>
              </li>
              <li class="nav-item-active">
                  <a class="nav-link" style="color: #4162FF;"  href="{% url 'discussion_forum:show_forum' %}" >Community</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: #fff;"  href="{% url 'borrow_flow:show_yourbook_page' %}">Your Book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #fff;"  href="{% url 'category:show_favorit' %}" >Favorite</a>
          </li>
          </ul>
      </div>

      <div class="ml-auto"> 
          <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-person-circle"></i> Hello, {{ name }},
              </a>
              <div class="dropdown-menu" aria-labelledby="profileDropdown">
                  <a class="dropdown-item" href="#" target="_blank" rel="noopener noreferrer" >Profile</a>
                  <a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="forum">
<!-- header ------------------>
<div class="header">
  <div class="overlap-group">
  <div id="header-text" class="text-wrapper"></div>
  <img class="element" src="../../static/img/ComChar.svg" />
  </div>
</div>

<!-- Forum ------------------>
<div style="display: flex; justify-content: center;">
  <div class="community">
  <!-- Filter ------------------>
  <div class="filter">
    <div class="filter-wrapper">
      <div class="div">
        <div class="text-wrapper">Filter Post</div>
        <div>
          <ul class="filter-2">
            <li>
              <input type="radio" id="all" name="filter" value="all" checked onchange="filterForum()">
              <label for="all">All</label>
            </li>
            <li>
              <input type="radio" id="Fantasy" name="filter" value="Fantasy" onchange="filterForum()">
              <label for="Fantasy">Fantasy</label>
            </li>
            <li>
              <input type="radio" id="Romance" name="filter" value="Romance" onchange="filterForum()">
              <label for="Romance">Romance</label>
            </li>
            <li>
              <input type="radio" id="Young-Adult" name="filter" value="Young-Adult" onchange="filterForum()">
              <label for="Young-Adult">Young Adult</label>
            </li>
          </ul>


        </div>

      </div>
    </div>


    <a class="btn btn-lg make-a-post" href="{% url 'discussion_forum:create_forum' %}">
      <img src="../../static/img/icon/Make a Post.svg">
      <div class="text-wrapper-6">Make a Post</div>
    </a>

    <button style = "align-items: center;" class="btn btn-lg make-a-post"  onclick="openAddForumModal()">
      <img src="../../static/img/icon/Make a Post.svg">
      <div class="text-wrapper-6">Modal Post</div>
    </button>
    

  </div>

  <!-- Post Forum ------------------>
  <div class="forum-section" id ="product_Forum"> </div>
</div>

<!-- Add Forum Modal -->
<div class="modal fade" id="addForumModal" tabindex="-1" aria-labelledby="addForumModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="addForumModalLabel">Create New Forum</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="addForumForm">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="description" class="col-form-label">Forum:</label>
                    <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                </div>
                <div class="mb-3">
                    <label for="book" class="col-form-label">Select Book:</label>
                    <select class="form-control" id="book" name="book">
                        <option value="" selected="selected">Select Book</option>
                        <!-- Add options for books 1 to 100 using a loop in your template -->
                        {% for pilihan in pilihan %}
                            <option value="{{ pilihan.id }}"> {{ pilihan.book_title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>        
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" id="button_add" class="btn btn-primary" onclick="createForum()"> Create Forum </button>
          </div>
      </div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/typeit@@{TYPEIT_VERSION}/dist/index.umd.js"></script>


<script>

  // Get product pakai JSON ----------------------------------------------------
    async function getProducts() {
      return fetch("{% url 'forum:get_product_json' %}").then((res) => res.json())
  }

  //Forum -------------------------------------------------------------------------
  async function refreshForum() {
    const productCard = document.getElementById("product_Forum");
    productCard.innerHTML = ""; 
    const products = await getProducts();
    let htmlString = "";
    console.log(products);

    products.forEach((item) => {
        htmlString += `
        <div class="forum-person"  data-forum-genre=${item.book_genre}>
        <div class="person-section">
          <div class="section">
            
              <div class="profil">
                <div class="profil-wrapper"><img class="img" src="../../static/img/Profil.svg" /></div>
                <div class="text-wrapper-7"> ${item.name} </div>
              </div>
            
            <p style = "align-items: none " class="p">
              ${item.forum_text}
            </p>
          </div>
          <div class="book-section">
            <div class="text-wrapper-8">Book</div>
            <div class="book-card">
              <div class="book-card-2">
                <div class="book-status">
                  <div class="book-image"><img class="image" src="${item.book_image}" /></div>
                  <div class="book-detail">
                    <div class="book-title">
                      <div class="text-wrapper-9">${item.book_title}</div>
                      <div class="book-author">${item.book_author}</div>
                    </div>
                  </div>
                </div>
                <button class="btn">
                  <img src="../../static/img/icon/Discovery.svg" class="iconly-bold"> 
                  <div class="detail">
                    See Detail 
                  </div>
                </button>   
              </div>
            </div>
          </div>

          <div class="profile-upper">
            <div class="action">
              <div class="bottom-section" onclick="return likePost(${item.forum_id})">
                <img id="like-button-${item.forum_id}" class="icon" src="../../static/img/icon/Heart1.svg" />
                <div class="text-wrapper">${item.likes}</div>
              </div>


          </div>
          <button style="background-color: #e221211a"  onclick="return Delete(${item.forum_id})" data-itemid="${item.forum_id}" class="btn delete" > 
            <img class="iconly-bold-delete" src="../../static/img/icon/Delete.svg" /> 
          </button>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="884" height="4" viewBox="0 0 884 4" fill="none">
        <path d="M2 2L882 1.99992" stroke="#282C5B" stroke-width="4" stroke-linecap="round"/>
      </svg> 
    </div>
    </div>`
      ;
    });

      document.getElementById("product_Forum").innerHTML = htmlString;
  }

  refreshForum();

  // Memanggil `refreshForum` saat halaman dimuat
  document.addEventListener("DOMContentLoaded", function () {
    refreshForum();
  });

  
  function Delete(ID) {
    
    $.ajax({
      type: 'POST',
      url: 'delete_item/' +  ID  + '/',
      data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {
          if (data.message) {
              alert(data.message);
              refreshForum();
          } else {
              alert(data.error);
          }
      }
  });
  }
  

  function likePost(ID) {
  $.ajax({
    type: 'POST',
    url: 'like/' + ID + '/',
    data: {
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    success: function (data) {
      var imgSrc = data.liked ? '../../static/img/icon/Heart.svg' : '../../static/img/icon/Heart1.svg';
      $('#like-button-' + ID).attr('src', imgSrc);
      refreshForum();
    }
  });
}


  function clicklove(element) {
            // Mengambil nilai ID buku dari atribut data-bookid
            var bookId = element.getAttribute('data-bookid');

            if (element.src.endsWith("Heart1.svg")) {
                element.src = "../../static/img/icon/Heart.svg";
                
                // Melakukan permintaan AJAX untuk menambahkan buku ke favorit
                fetch(`favorit/api/books/${bookId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),  // Mengambil token CSRF dari cookie
                    }
                })
                .then(response => {
                    if (response.status === 201) {
                        // Buku berhasil ditambahkan ke favorit, Anda dapat memperbarui tampilan halaman di sini
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            } else {
                element.src = "../../static/img/icon/Heart1.svg";
            }

        }

  function filterForum() {
          const forumItems = document.querySelectorAll(".forum-person"); // Ambil semua elemen forum
          
          const selectedGenre = document.querySelector('input[name="filter"]:checked').value;
          // Sembunyikan semua forum terlebih dahulu
          forumItems.forEach(forum => {
              forum.style.display = "none";
          });

          // Tampilkan hanya forum yang sesuai dengan genre yang dipilih
          forumItems.forEach(forum => {
              const forumGenre = forum.getAttribute("data-forum-genre"); // Ambil genre forum dari atribut data
              if (forumGenre.includes(selectedGenre) || selectedGenre === "all") {
                  forum.style.display = "block";
              }
          });
      }

      
  function like(productId) {
    fetch(`/toggle-like/${productId}`, {  // Ganti URL dengan URL yang sesuai
        method: "POST",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"),
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.liked) {
            // Produk disukai oleh pengguna, lakukan tindakan yang sesuai (misalnya, perbarui tampilan tombol)
            productId.src = "../../static/img/icon/Heart1.svg"
            refreshForum();  // Perbarui daftar produk jika diperlukan
        } else {
            // Produk tidak lagi disukai oleh pengguna, lakukan tindakan yang sesuai (misalnya, perbarui tampilan tombol)
            productId.src = "../../static/img/icon/Heart1.svg"
            refreshForum();  // Perbarui daftar produk jika diperlukan
            
        }
    })
    .catch(error => console.error("Error:", error));
}

  function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                var cookies = document.cookie.split(";");
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === name + "=") {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

  const headerText = document.getElementById("header-text");
  const messages = ["Community"];
  let currentMessageIndex = 0;
  let currentCharacterIndex = 0;

  function typeCharacter() {
    if (currentMessageIndex < messages.length) {
      const currentMessage = messages[currentMessageIndex];
      const currentCharacter = currentMessage.charAt(currentCharacterIndex);
      
      headerText.textContent += currentCharacter;
      currentCharacterIndex++;
      
      if (currentCharacterIndex < currentMessage.length) {
        setTimeout(typeCharacter, 400); // Waktu tunda antar karakter (ms)
      } else {
        currentMessageIndex++;
      }
    }
  }
  typeCharacter(); 
  
  function openAddForumModal() {
    $('#addForumModal').modal('show');
  }

  // Function to create a forum using AJAX
  function createForum() {
      fetch("{% url 'discussion_forum:create_forum_ajax' %}", {
          method: 'POST',
          body: new FormData(document.querySelector('#addForumForm'))
      }).then (refreshForum)

      document.getElementById("addForumForm").reset()
      return false
  }

  document.getElementById("button_add").onclick = createForum

  </script>

{% endblock content %}