{% extends 'base.html' %}

{% block content %}
<title>community</title>



<!-- Navbar ------------------>
<div class="navbar navbar-expand-lg ">
  <div class="container-fluid">
      <button  class="navbar-toggler btn-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <img src="../../static/img/Logo Navbar.svg" class="navbar-brand d-none d-lg-block" href="#">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav" style="margin-left: 23%;">
              <li class="nav-item">
                  <a class="nav-link" style="color: #fff;" href="{% url 'main:show_main' %}">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" style="color: #fff;"  href="{% url 'category:show_category' %}" >Category</a>
              </li>
              <li class="nav-item-active">
                  <a class="nav-link" style="color: #4162FF;"  href="{% url 'discussion_forum:show_forum' %}" >Community</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: #fff;"  href="#">Your Book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #fff;"  href="{% url 'favorit:show_favorit' %}" >Favorite</a>
          </li>
          </ul>
      </div>

      <div class="ml-auto"> 
          <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-person-circle"></i> Hello, {{ name }},
              </a>
              <div class="dropdown-menu" aria-labelledby="profileDropdown">
                  <a class="dropdown-item" href="#" target="_blank" rel="noopener noreferrer" >Profile</a>
                  <a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="forum">
<!-- header ------------------>
<div class="header">
  <div class="overlap-group">
  <div class="text-wrapper">Community</div>
  <img class="element" src="../../static/img/ComChar.svg" />
  </div>
</div>

<!-- Forum ------------------>
<div style="display: flex; justify-content: center;">
  <div class="community">
  <!-- Filter ------------------>
  <div class="filter">
    <div class="filter-wrapper">
      <div class="div">
        <div class="text-wrapper">Filter Post</div>
        <div class="filter-2">
          <div class="filter-true"><div class="text-wrapper-2">All</div></div>
          <div class="filter-false"><div class="text-wrapper-3">Genre 1</div></div>
          <div class="filter-false"><div class="text-wrapper-4">Genre 2</div></div>
          <div class="filter-false"><div class="text-wrapper-5">Genre 3</div></div>
          <div class="filter-false"><div class="text-wrapper-5">Genre 4</div></div>
        </div>
      </div>
    </div>
    <a class="btn make-a-post" href="{% url 'discussion_forum:create_forum' %}">
      <img src="../../static/img/icon/Make a Post.svg">
      <div class="text-wrapper-6">Make a Post</div>
    </a>
  </div>

  <!-- Post Forum ------------------>
  <div class="forum-section" id ="product_Forum"> </div>
</div>


<script>

  // Get product pakai JSON ----------------------------------------------------
    async function getProducts() {
      return fetch("{% url 'forum:get_product_json' %}").then((res) => res.json())
  }

  //Forum -------------------------------------------------------------------------
  async function refreshForum() {
    const productCard = document.getElementById("product_Forum");
    productCard.innerHTML = ""; 
    const products = await getProducts();
    let htmlString = "";

    products.forEach((item) => {
        htmlString += `
        <div class="forum-person">
        <div class="person-section">
          <div class="section">
            
              <div class="profil">
                <div class="profil-wrapper"><img class="img" src="../../static/img/Profil.svg" /></div>
                <div class="text-wrapper-7"> Arya Wijaya </div>
              </div>
            
            <p class="p">
              ${item.forum_id}
            </p>
          </div>
          <div class="book-section">
            <div class="text-wrapper-8">Book</div>
            <div class="book-card">
              <div class="book-card-2">
                <div class="book-status">
                  <div class="book-image"><img class="image" src="${item.book_image}" /></div>
                  <div class="book-detail">
                    <div class="book-title">
                      <div class="text-wrapper-9">${item.book_title}</div>
                      <div class="book-author">${item.book_author}</div>
                    </div>
                  </div>
                </div>
                <button class="btn">
                  <img src="../../static/img/icon/Discovery.svg" class="iconly-bold"> 
                  <div class="detail">
                    See Detail 
                  </div>
                </button>   
              </div>
            </div>
          </div>

          <div class="profile-upper">
            <div class="action">
              <div class="bottom-section">
                <img class="icon" src="../../static/img/icon/Heart.svg" />
                <div class="text-wrapper">15</div>
              </div>

              <div class="bottom-section">
                <img class="icon" src="../../static/img/icon/Comment.svg" />
                <div class="text-wrapper">15</div>
              </div>
          </div>
          <button onClick="deleteForum(${item.forum_id})" class="btn delete" style="background-color: #e221211a"> 
            <img class="iconly-bold-delete" src="../../static/img/icon/Delete.svg" /> 
          </button>
        </div>
      </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="884" height="4" viewBox="0 0 884 4" fill="none">
        <path d="M2 2L882 1.99992" stroke="#282C5B" stroke-width="4" stroke-linecap="round"/>
      </svg> `;
    });

      document.getElementById("product_Forum").innerHTML = htmlString;
  }

  refreshForum();

  // Memanggil `refreshForum` saat halaman dimuat
  document.addEventListener("DOMContentLoaded", function () {
    refreshForum();
  });

  function deleteForum(ID) {
      fetch(`/delete_forum/${ID}`, {
          method: 'DELETE',
      })
      .then(function (response) {
          if (response.status === 200) {
              // Forum berhasil dihapus, lakukan sesuatu jika diperlukan
              refreshForum(); // Misalnya, refresh daftar forum
          } else {
              // Forum tidak ditemukan atau gagal dihapus, lakukan sesuatu jika diperlukan
              console.error('Failed to delete forum');
          }
      });
  }

</script>

{% endblock content %}