{% extends 'base.html' %}

{% block content %}
<div class="forum">
<!-- header ------------------>
<div class="header">
  <div class="overlap-group">
    
  <div class="text-wrapper">Community</div>
  <img class="element" src="../../static/img/ComChar.svg" />
    
</div>
</div>


<!-- Forum ------------------>
<div class="community">

  <!-- Filter ------------------>
  <div class="filter">
    <div class="filter-wrapper">
      <div class="div">
        <div class="text-wrapper">Filter Post</div>
        <div class="filter-2">
          <div class="filter-true"><div class="text-wrapper-2">All</div></div>
          <div class="filter-false"><div class="text-wrapper-3">Genre 1</div></div>
          <div class="filter-false"><div class="text-wrapper-4">Genre 2</div></div>
          <div class="filter-false"><div class="text-wrapper-5">Genre 3</div></div>
          <div class="filter-false"><div class="text-wrapper-5">Genre 4</div></div>
        </div>
      </div>
    </div>
    <div class="make-a-post">
      <div class="edit-wrapper"><div class="edit"></div></div>
      <div class="text-wrapper-6">Make a Post</div>
    </div>
  </div>


  <!-- Post Forum ------------------>
  <div class="forum-section">
    <!-- Forum Pertama Temoat masukin form.py ------------------>
    <div class="forum-person">
      <div class="person-section">
        <div class="section">
          <div class="profil">
            <div class="profil-wrapper"><img class="img" src="../../static/img/Profil.svg" /></div>
            <div class="text-wrapper-7">Arya Wijaya</div>
          </div>
          <p class="p">
            Lorem ipsum dolor sit amet consectetur. Sapien nunc dolor dolor vitae velit risus. Suscipit aliquam
            pellentesque vehicula nec interdum. Ac hac ut ullamcorper sollicitudin cursus.
          </p>
        </div>
        <div class="book-section">
          <div class="text-wrapper-8">Book</div>
          <div class="book-card">
            <div class="book-card-2">
              <div class="book-status">
                <div class="book-image"><img class="image" src="../../static/img/bookdummy.png" /></div>
                <div class="book-detail">
                  <div class="book-title">
                    <div class="text-wrapper-9">The Golden Compass</div>
                    <div class="book-author">by: Arya Wijaya</div>
                  </div>
                </div>
              </div>
              <button>
                <img src="../../static/img/icon/Discovery.svg" class="iconly-bold"> See Detail 
              </button>   
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <svg xmlns="http://www.w3.org/2000/svg" width="884" height="4" viewBox="0 0 884 4" fill="none">
      <path d="M2 2L882 1.99992" stroke="#282C5B" stroke-width="4" stroke-linecap="round"/>
    </svg>



    <!-- Forum kedua ------------------>
    <div class="forum-person">
      <div class="person-section">
        <div class="section">
          <div class="profil">
            <div class="profil-wrapper"><img class="img" src="../../static/img/Profil.svg" /></div>
            <div class="text-wrapper-7">Arya Wijaya</div>
          </div>
          <p class="p">
            Lorem ipsum dolor sit amet consectetur. Sapien nunc dolor dolor vitae velit risus. Suscipit aliquam
            pellentesque vehicula nec interdum. Ac hac ut ullamcorper sollicitudin cursus.
          </p>
        </div>
        <div class="book-section">
          <div class="text-wrapper-8">Book</div>
          <div class="book-card">
            <div class="book-card-2">
              <div class="book-status">
                <div class="book-image"><img class="image" src="../../static/img/bookdummy.png" /></div>
                <div class="book-detail">
                  <div class="book-title">
                    <div class="text-wrapper-9">The Golden Compass</div>
                    <div class="book-author">by: Arya Wijaya</div>
                  </div>
                </div>
              </div>
              <button>
                <img src="../../static/img/icon/Discovery.svg" class="iconly-bold"> See Detail 
              </button>   
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <svg xmlns="http://www.w3.org/2000/svg" width="884" height="4" viewBox="0 0 884 4" fill="none">
      <path d="M2 2L882 1.99992" stroke="#282C5B" stroke-width="4" stroke-linecap="round"/>
    </svg>
    
    <!-- Forum ketiga ------------------>
    <div class="forum-person">
      <div class="person-section">
        <div class="section">
          <div class="profil">
            <div class="profil-wrapper"><img class="img" src="../../static/img/Profil.svg" /></div>
            <div class="text-wrapper-7">Arya Wijaya</div>
          </div>
          <p class="p">
            Lorem ipsum dolor sit amet consectetur. Sapien nunc dolor dolor vitae velit risus. Suscipit aliquam
            pellentesque vehicula nec interdum. Ac hac ut ullamcorper sollicitudin cursus.
          </p>
        </div>
        <div class="book-section">
          <div class="text-wrapper-8">Book</div>
          <div class="book-card">
            <div class="book-card-2">
              <div class="book-status">
                <div class="book-image"><img class="image" src="../../static/img/bookdummy.png" /></div>
                <div class="book-detail">
                  <div class="book-title">
                    <div class="text-wrapper-9">The Golden Compass</div>
                    <div class="book-author">by: Arya Wijaya</div>
                  </div>
                </div>
              </div>
              <button>
                <img src="../../static/img/icon/Discovery.svg" class="iconly-bold"> See Detail 
              </button>   
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <svg xmlns="http://www.w3.org/2000/svg" width="884" height="4" viewBox="0 0 884 4" fill="none">
      <path d="M2 2L882 1.99992" stroke="#282C5B" stroke-width="4" stroke-linecap="round"/>
    </svg>

  <!-- Forum keempat ------------------>
  <div class="forum-person">
    <div class="person-section">
      <div class="section">
        <div class="profil">
          <div class="profil-wrapper"><img class="img" src="../../static/img/Profil.svg" /></div>
          <div class="text-wrapper-7">Arya Wijaya</div>
        </div>
        <p class="p">
          Lorem ipsum dolor sit amet consectetur. Sapien nunc dolor dolor vitae velit risus. Suscipit aliquam
          pellentesque vehicula nec interdum. Ac hac ut ullamcorper sollicitudin cursus.
        </p>
      </div>
      <div class="book-section">
        <div class="text-wrapper-8">Book</div>
        <div class="book-card">
          <div class="book-card-2">
            <div class="book-status">
              <div class="book-image"><img class="image" src="../../static/img/bookdummy.png" /></div>
              <div class="book-detail">
                <div class="book-title">
                  <div class="text-wrapper-9">The Golden Compass</div>
                  <div class="book-author">by: Arya Wijaya</div>
                </div>
              </div>
            </div>
            <button>
              <img src="../../static/img/icon/Discovery.svg" class="iconly-bold"> See Detail 
            </button>   
            
          </div>
        </div>
      </div>
    </div>
  </div>


  <svg xmlns="http://www.w3.org/2000/svg" width="884" height="4" viewBox="0 0 884 4" fill="none">
    <path d="M2 2L882 1.99992" stroke="#282C5B" stroke-width="4" stroke-linecap="round"/>
  </svg>

    <!-- Forum kelima ------------------>
    <div class="forum-person">
      <div class="person-section">
        <div class="section">
          <div class="profil">
            <div class="profil-wrapper"><img class="img" src="../../static/img/Profil.svg" /></div>
            <div class="text-wrapper-7">Arya Wijaya</div>
          </div>
          <p class="p">
            Lorem ipsum dolor sit amet consectetur. Sapien nunc dolor dolor vitae velit risus. Suscipit aliquam
            pellentesque vehicula nec interdum. Ac hac ut ullamcorper sollicitudin cursus.
          </p>
        </div>
        <div class="book-section">
          <div class="text-wrapper-8">Book</div>
          <div class="book-card">
            <div class="book-card-2">
              <div class="book-status">
                <div class="book-image"><img class="image" src="../../static/img/bookdummy.png" /></div>
                <div class="book-detail">
                  <div class="book-title">
                    <div class="text-wrapper-9">The Golden Compass</div>
                    <div class="book-author">by: Arya Wijaya</div>
                  </div>
                </div>
              </div>
              <button>
                <img src="../../static/img/icon/Discovery.svg" class="iconly-bold"> See Detail 
              </button>   
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <svg xmlns="http://www.w3.org/2000/svg" width="884" height="4" viewBox="0 0 884 4" fill="none">
      <path d="M2 2L882 1.99992" stroke="#282C5B" stroke-width="4" stroke-linecap="round"/>
    </svg>
    
    <!-- Forum keenam ------------------>
    <div class="forum-person">
      <div class="person-section">
        <div class="section">
          <div class="profil">
            <div class="profil-wrapper"><img class="img" src="../../static/img/Profil.svg" /></div>
            <div class="text-wrapper-7">Arya Wijaya</div>
          </div>
          <p class="p">
            Lorem ipsum dolor sit amet consectetur. Sapien nunc dolor dolor vitae velit risus. Suscipit aliquam
            pellentesque vehicula nec interdum. Ac hac ut ullamcorper sollicitudin cursus.
          </p>
        </div>
        <div class="book-section">
          <div class="text-wrapper-8">Book</div>
          <div class="book-card">
            <div class="book-card-2">
              <div class="book-status">
                <div class="book-image"><img class="image" src="../../static/img/bookdummy.png" /></div>
                <div class="book-detail">
                  <div class="book-title">
                    <div class="text-wrapper-9">The Golden Compass</div>
                    <div class="book-author">by: Arya Wijaya</div>
                  </div>
                </div>
              </div>
              <button>
                <img src="../../static/img/icon/Discovery.svg" class="iconly-bold"> See Detail 
              </button>   
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <svg xmlns="http://www.w3.org/2000/svg" width="884" height="4" viewBox="0 0 884 4" fill="none">
      <path d="M2 2L882 1.99992" stroke="#282C5B" stroke-width="4" stroke-linecap="round"/>
    </svg>

  <!-- Forum ketujuh ------------------>
  <div class="forum-person">
    <div class="person-section">
      <div class="section">
        <div class="profil">
          <div class="profil-wrapper"><img class="img" src="../../static/img/Profil.svg" /></div>
          <div class="text-wrapper-7">Arya Wijaya</div>
        </div>
        <p class="p">
          Lorem ipsum dolor sit amet consectetur. Sapien nunc dolor dolor vitae velit risus. Suscipit aliquam
          pellentesque vehicula nec interdum. Ac hac ut ullamcorper sollicitudin cursus.
        </p>
      </div>
      <div class="book-section">
        <div class="text-wrapper-8">Book</div>
        <div class="book-card">
          <div class="book-card-2">
            <div class="book-status">
              <div class="book-image"><img class="image" src="../../static/img/bookdummy.png" /></div>
              <div class="book-detail">
                <div class="book-title">
                  <div class="text-wrapper-9">The Golden Compass</div>
                  <div class="book-author">by: Arya Wijaya</div>
                </div>
              </div>
            </div>
            <button>
              <img src="../../static/img/icon/Discovery.svg" class="iconly-bold"> See Detail 
            </button>   
            
          </div>
        </div>
      </div>
    </div>
  </div>


  </div>
</div>
{% endblock content %}