{% extends 'base.html' %}

{% block content %}
    <style>
        h1{
            text-align: center;
            font-family: "Poppins-Bold", Helvetica;
        }

        .card-img-top{
            justify-content: center;
            max-width: 140px; /* Sesuaikan lebar maksimal sesuai kebutuhan */
            max-height: 120px;
            border-radius: 10px; /* Atur radius sesuai kebutuhan */
            margin-top: 5px;
        }
        .judul{
            font-size: 12px;
        }
        .author{
            font-size: 10px;
        }
        .card{
            margin: 2px;
            height: 220px; /* Atur tinggi sesuai kebutuhan */
        }
        .card-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 2fr)); /* Mengatur jumlah kolom dan lebar minimum */
            grid-gap: 1px; /* Jarak antara card */
        }

    </style>

    <!-- Navbar ------------------>
    <div class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <button  class="navbar-toggler btn-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="../../static/img/Logo Navbar.svg" class="navbar-brand d-none d-lg-block" href="#">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav" style="margin-left: 23%;">
                    <li class="nav-item">
                        <a class="nav-link" style="color: #fff;" href="{% url 'main:show_main' %}">Home</a>
                    </li>
                    <li class="nav-item-active">
                        <a class="nav-link" style="color: #4162FF;"  href="{% url 'category:show_category' %}">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #fff;"  href="{% url 'discussion_forum:show_forum' %}" >Community</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" style="color: #fff;"  href="#">Your Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #fff;"  href="{% url 'favorit:show_favorit' %}" >Favorite</a>
                </li>
                </ul>
            </div>
    
            <div class="ml-auto"> 
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-person-circle"></i> Hello, {{ name }},
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="#" target="_blank" rel="noopener noreferrer" >Profile</a>
                        <a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="category">
        <div class="frame">
            <div class="overlap-group">
            <div class="text-wrapper">BOOK</div>
            <p class="div">Enhance Education Literacy in Indonesia with Our Collection of Books</p>
            <p class="p">
                Dive into a world of knowledge and exploration with our outstanding book collection, fueling the flames of
                education across Indonesia.
            </p>
            </div>
        </div>

        
        <div class="search">
            <div class="label">
                <div class="text-wrapper">Search Book</div>
            </div>

        </div>

        <div class="container">
    
            <h1>More Books in ReadHub</h1>
            <br/>
    
            <div class="card-container">
                {% for book in books %}
                  <a class="card" href="{{book.pk}}/">
                    <img class="card-img-top mx-auto" src="{{ book.image_url }}" alt="book">
                    <div class="card-body">
                      <h5 class="judul">{{ book.book_title }}</h5>
                      <p class="author">by {{ book.book_authors |slice:":25"}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
       
        </div>
    </div>

{% endblock content %}