{% extends 'base.html' %}

{% block content %}
<style>
    .favorit .container .label .text-wrapper {
        font-family: "Poppins-Bold", Helvetica;
        font-weight: 700;
        color: #ffffff;
        font-size: 30px;
        letter-spacing: 0;
        line-height: 76.8px;
        text-align: center;
        white-space: nowrap;
    }

    .favorit .search .label .text-wrapper {
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 76.8px;
    text-align: center;
    white-space: nowrap;
    }
    
    .favorit .search .input-group {
    width: 33%; /* Atur lebar sesuai kebutuhan (1/3 dari lebar layar) */
    margin: 0 auto; /* Agar input-group berada di tengah-tengah layar */
    }

    .favorit .container #all-books {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 2fr)); /* Mengatur jumlah kolom dan lebar minimum */
        grid-gap: 1px; /* Jarak antara card */
    }
    .favorit .container #all-books .card{
        margin: 2px;
        height: 400px; /* Atur tinggi sesuai kebutuhan */
        background-color: #23264F;
    }
    .favorit .container #all-books .card .card-img-top{
        display: flex;
        align-items: center; /* Memastikan gambar berada di tengah secara vertikal */
        justify-content: center; /* Memastikan gambar berada di tengah secara horizontal */
        max-width: 93%; /* Membuat gambar sesuai dengan lebar kartu */
        max-height: 250px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
        border-radius: 10px; /* Atur radius sesuai kebutuhan */
        margin-top: 7px;
    }
    .favorit .container #all-books .card .delete-button{
        width: 110px;
        height: 50px;
        position: absolute; /* Mengatur posisi absolut untuk love */
        bottom: 10px; /* Atur jarak dari atas card */
        right: 15px; /* Atur jarak dari kanan card */
    }

    .favorit .container #all-books .card a .detail-button{
        width: 110px;
        height: 50px;
        position: absolute; /* Mengatur posisi absolut untuk love */
        bottom: 10px; /* Atur jarak dari atas card */
        left: 15px; /* Atur jarak dari kanan card */
    }

    .favorit .container  #all-books .card .card-body .judul,
    .favorit .container  #all-books .card .card-body .author  {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        color: #fff;
    }
</style>
<!-- Navbar ------------------>
    <div class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <button  class="navbar-toggler btn-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="../../static/img/Logo Navbar.svg" class="navbar-brand d-none d-lg-block" href="#">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav" style="margin-left: 23%;">
                <li class="nav-item">
                    <a class="nav-link" style="color: #fff;" href="{% url 'main:show_main' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #fff;"  href="{% url 'category:show_category' %}" >Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #fff;"  href="{% url 'discussion_forum:show_forum' %}" >Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #fff;"  href="{% url 'borrow_flow:show_yourbook_page' %}">Your Book</a>
                </li>
                <li class="nav-item-active">
                    <a class="nav-link" style="color: #fff;"  href="{% url 'category:show_favorit' %}" >Favorite</a>
            </li>
            </ul>
        </div>

        <div class="ml-auto"> 
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-person-circle"></i> Hello, {{ name }},
                </a>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="#" target="_blank" rel="noopener noreferrer" >Profile</a>
                    <a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="favorit">
        <div class="search">
            <div class="label">
                <div class="text-wrapper">Search Book</div>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" id="search-input" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-search">
                    <img class="iconly-light-search" src="../../static/img/icon/Search.svg" />
                  </button>
                </div>
                <select id="bookCategory" name="bookCategory" onchange="filterBooks()">
                    <option value="all">All Books</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="romance">Romance</option>
                    <option value="mystery">Mystery</option>
                    <option value="nonfiction">Nonfiction</option>
                    <option value="science fiction">Science Fiction</option>
                </select>
            </div>
        </div>

        <div class="container">
            <div class="label">
                <div class="text-wrapper">Favorite Books</div>
            </div>
            <div class="card-container" id="all-books"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        
        async function getProducts() {
            let url = "{% url 'category:get_book_favorit' %}"
            return fetch(url).then((res) => res.json())
        }

        async function refreshProducts() {
            document.getElementById("all-books").innerHTML = ""
            const book = await getProducts()
            let htmlString =``

            book.forEach((item) => {
                // Membuat elemen kartu untuk produk
                const cardElement = document.createElement('div')

                // Mengisi elemen kartu dengan data produk
                htmlString += `\n
                <div class="card" data-genre="${item.genre}">
                    <img class="card-img-top mx-auto" src="${item.book_image}" alt="book">
                    <div class="card-body">
                      <h5 class="judul">${item.book_title}</h5>
                      <p class="author">by ${item.book_author}</p>
                    </div>
                    <button type="button" class="btn btn-danger delete-button" onclick="delete_favorit(${item.book_id})">Delete</button>
                    <a href="detail/${item.book_id}">
                            <button type="button" class="btn btn-primary detail-button">Detail Book</button>
                    </a>  
                </div>
                `;
                
                // Menambahkan elemen kartu ke dalam elemen kartu utama
                document.getElementById("all-books").innerHTML = htmlString
            });
        }
        refreshProducts()

        document.getElementById('search-input').addEventListener('input', function() {
            var input = this.value.toLowerCase();
            var cards = document.querySelectorAll('.card');

            cards.forEach(function(card) {
                var cardText = card.textContent.toLowerCase();
                if (cardText.includes(input)) {
                    card.style.display = 'inline-block'; // Tampilkan kartu jika cocok
                } else {
                    card.style.display = 'none'; // Sembunyikan kartu jika tidak cocok
                }
            });
        });

        function filterBooks() {
            const bookCategorySelect = document.getElementById("bookCategory");
            const books = document.querySelectorAll(".card"); // Ambil semua elemen buku
            const selectedGenre = bookCategorySelect.value;

            // Sembunyikan semua buku terlebih dahulu
            books.forEach(book => {
                book.style.display = "none";
            });

            // Tampilkan hanya buku yang sesuai dengan genre yang dipilih
            books.forEach(book => {
                const bookGenres = book.getAttribute("data-genre").toLowerCase().split("|"); // Membagi genre menjadi array
                console.log(bookGenres)
                if (bookGenres.includes(selectedGenre) || selectedGenre === "all") {
                    book.style.display = "block";
                }
            });
        }


        function delete_favorit(book_id){
            console.log("test2")
            fetch(`delete_favorit/${book_id}/`,{
            }).then(refreshProducts)

            return false
        }
    </script>
{% endblock content %}
