{% extends 'base.html' %}

{% block meta %}
    <title>Welcome To ReadHub</title>
{% endblock meta %}

{% block content %}
<html>
  <body>
    <div class="sign-in">
      <div class="div">
        <div class="overlap">
          <img class="vector" src="img/image.svg" />
          <p class="start-your-journey">
            <span class="text-wrapper">Start your </span>
            <span class="span">Journey </span>
            <span class="text-wrapper">in ReadHub</span>
          </p>
          <div class="group"><img class="mask-group" src="img/image.png" /></div>
          <div class="frame">
            <div class="overlap-group">
              <img class="img" src="../../static/img/vector.svg" />
              <img class="element" src="../../static/img/Char.svg" />
            </div>
            <p class="p">
              <span class="text-wrapper">Start your </span>
              <span class="span">Journey </span>
              <span class="text-wrapper">in ReadHub</span>
            </p>
            <img class="group-2" src="../../static/img/logo.svg" />
          </div>
        </div>
        <p class="text-wrapper-2">Sign In for an account</p>
        <div class="frame-2">
          <form method="POST" action="{% url 'main:login' %}">
            {% csrf_token %}
            <div class="frame-3">
              <label class="label" for="username">Full Name</label>
              <input class="input" type="text" name="username" id="username" />
            </div>
            <div class="frame-3 password-input">
              <label class="label" for="password">Password</label>
              <div class="password-field">
                <input class="input" type="password" name="password" id="password" />
                <div class="password-toggle" onclick="togglePasswordVisibility()">
                  <img class="iconsax-linear" src="../../static/img/icon/matabuka.svg" id="togglePassword" />
                </div>
              </div>
            </div>
          </div>
          <p class="already-member-sign">
            <span class="text-wrapper-4">Already a member?</span>
            <span class="text-wrapper">&nbsp;</span>
            <a class="span" href="{% url 'main:register' %}">Register Now</a>
          </p>
          <div class="frame-wrapper">
            <div class="frame-5" onclick="submitForm()">
              <div class="text-wrapper-3">Sign up</div>
              <img class="iconsax-linear" src="../../static/img/icon/panah.svg" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>

<script>
function togglePasswordVisibility() {
  const passwordInput = document.getElementById("password");
  const togglePassword = document.getElementById("togglePassword");

  if (passwordInput.type === 'password') {
    passwordInput.type = 'text';
    togglePassword.src = '../../static/img/icon/mata.svg'; // Mengganti ke mata terbuka
  } else {
    passwordInput.type = 'password';
    togglePassword.src = '../../static/img/icon/matabuka.svg'; // Mengganti ke mata tertutup
  }
}

function submitForm() {
  // Mengirim formulir dengan menggunakan JavaScript
  document.querySelector('form').submit();
}
</script>
{% endblock content %}
